@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600&subset=latin-ext');

$background: #181f29;
$color1: #232a34;
$color2: #2c3039;
$playerBg: #171c23;

$borderColor: #30363e;
$fontFamily: Poppins;

@mixin gradientBottom($color1, $color2, $color3) {
    background: rgba($color1,$color2,$color3,0);
    background: -moz-linear-gradient(top, rgba($color1,$color2,$color3,0) 0%, rgba($color1,$color2,$color3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color1,$color2,$color3,0)), color-stop(100%, rgba($color1,$color2,$color3,1)));
    background: -webkit-linear-gradient(top, rgba($color1,$color2,$color3,0) 0%, rgba($color1,$color2,$color3,1) 100%);
    background: -o-linear-gradient(top, rgba($color1,$color2,$color3,0) 0%, rgba($color1,$color2,$color3,1) 100%);
    background: -ms-linear-gradient(top, rgba($color1,$color2,$color3,0) 0%, rgba($color1,$color2,$color3,1) 100%);
    background: linear-gradient(to bottom, rgba($color1,$color2,$color3,0) 0%, rgba($color1,$color2,$color3,1) 100%);
}

body {
    font-family: $fontFamily;
    background: $background;
    overflow: hidden;
}
.scroll-y {
    overflow-y: scroll;
    height: calc(100vh - 68px);
    perspective: 2px;
    overflow-x: hidden;
}
.main {
    padding-bottom: 200px;
}
.avatar {
    width: 3rem;
}
.user-name {
    h5 {
        color: #fff;
    }
}
.content {
    max-width: 1200px;
    padding-top: 18vh;
}
.sidebar {
    min-height: 100vh;
    background: $color1;
    h3 {
        font-weight: 200;
        font-size: 1.3rem;
    }
    .list-group-item {
        background: transparent;
        border: none;
        border-bottom: 1px solid $borderColor;
        font-weight: 300;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
.navbar  {
    background: $color2;
}
.album-card {
    .card {
        background: $color1;
        position: relative;
        overflow: hidden;
        .card-header {
            position: absolute;
            bottom: -1px;
            left: 0px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 30%;
            display: flex;
            align-items: flex-end;
            transition: all .2s cubic-bezier(.34,.93,.4,.91);
            @include gradientBottom(35, 42, 52);
        }
        &:hover {
            .card-header {
                height: 50%;
            }
        }
    }
}
.main-content {
    position: relative;
}
.bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    height: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(-2px) scale(2) translateY(-110px);
    img {
        width: 100%;
    }
    &:after {
        content: "";
        @include gradientBottom(24, 31, 41);
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 120%;
    }
}
.album-desc {
    h1 {
        font-weight: 300;
        font-size: 3rem;
    }
    h3 {
        font-weight: 300;
    }
    h4 {
        font-weight: 200;
        font-size: 1.2rem;
    }
}
.playlist-container {
    .playlist-item {
        background: transparent;
        border: none;
        border-bottom: 1px solid $borderColor;
        .play-icon img {
            max-width: 33px;
            opacity: 0;
            transform: scale(.9);
            transition: all .1s ease-in-out;
        }
        &:hover {
            .play-icon img {
                transform: scale(1);
                opacity: 1;
            }
        }
        h4 {
            font-weight: 200;
        }
        .duration {
            font-weight: 200;
            font-size: 14px;
        }
    }
}
.player {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: $playerBg;
    .controls {
        a {
            img {
                width: 60px;
            }
            &.step img {
                width: 40px;
            }
        }
    }
    h3 {
        font-weight: 200;
    }
}